@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas Neue', cursive;
    padding: 0;
    margin: 0;
}

body {
    background: #24272E;
}

header > h1 {
    color: white;
    border-bottom: 2px solid white;
    position: absolute;
    bottom: 77.5%;
    font-size: 45px;
    width: 10.6%;
    margin-left: 45%;
    padding-bottom: 0px;
}

.insta {
    width: 100px;
    position: absolute;
    bottom: 59.5%;
    margin-left: 19%;
    transition: 0.5s ease;
}

.insta:hover {
    transform: translateY(-10px);
}

.ig-txt {
    color: white;
    position: absolute;
    bottom: 70%;
    font-size: 30px;
    margin-left: 15%;
}

.twitter {
    width: 140px;
    position: absolute;
    bottom: 57%;
    margin-left: 36%;
    transition: 0.5s ease;
}

.twitter:hover {
    transform: translateY(-10px);
}

.tw-txt {
    color: white;
    width: 284px;
    position: absolute;
    bottom: 70%;
    margin-left: 33%;
    font-size: 30px;
}

.reddit {
    width: 95px;
    position: absolute;
    bottom: 60%;
    margin-left: 58%;
    transition: 0.5s ease;
}

.reddit:hover {
    transform: translateY(-6px);
}

.rd-txt {
    color: white;
    width: 300px;
    position: absolute;
    bottom: 70%;
    margin-left: 53%;
    font-size: 30px;
}

.github {
    width: 105px;
    position: absolute;
    bottom: 59%;
    margin-left: 75%;
    transition: 0.5s ease;
}

.github:hover {
    transform: translateY(-6px);
}

.gh-txt {
    color: white;
    width: 320px;
    position: absolute;
    bottom: 70%;
    margin-left: 70%;
    font-size: 30px;
}

.home-page {
    color: #6314e4;
    font-size: 40px;
    margin-left: 46.5%;
    position: relative;
    bottom: -609px;
    transition: 0.5s ease;
}

.home-page:hover {
    color: white;
}